/* general */
.debug h2{
  font-size: 35px;
}

.debug img{
  max-height: 200px;
  width: auto;
}

.debug h3{
  font-size: 20px;
  padding: 20px 0;
}

.debug p{
  padding: 0 10px;
}

.debug [class*="col-"]{
  height: 100%;
}

.container{
  margin-top: 3%;
  text-align: center;
}

.bgcolor-grey{
  background-color: #F9F9F9;
}

.debug .img-blue{
  background-color: #428BCA;
  border-radius: 50%;
  padding: 30px;
}
/* /general */

/* modifiche padding smartphone */
@media screen and (max-width: 768px) {
  .container [class*="col-"]{
    padding-bottom: 10%;
  }
  .debug img{
    max-height: 100px;
    width: auto;
  }
}
/* /modifiche padding smartphone */

/* modifiche padding tablet */
@media screen and (max-width: 992px) and (min-width: 769px) {
  .container [class*="col-"]{
    padding-bottom: 5%;
  }
  .debug img{
    max-height: 150px;
    width: auto;
  }
}
/* modifiche padding tablet */
